table.outerTextBox, th.outerTextBox, td.outerTextBox {
	background-color: #DDDDDD;
	border: 1px solid black;
	border-collapse: collapse;
	width: 75%;
	height: 45em;
}

input#cli {
	background-color: transparent;
	border: 1px solid transparent;
	width:90%;
	outline: none;
}

div#output {
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: transparent;
	resize: none;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid darkgrey;
	outline: none;
	white-space: pre;
	max-height: 42em;
	overflow: auto;
}

td.output {
	vertical-align: bottom;
}

::-webkit-scrollbar {
	background-color: transparent;
	width: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: darkgray;
}